certifi @ file:///croot/certifi_1665076670883/work/certifi
flit_core @ file:///opt/conda/conda-bld/flit-core_1644941570762/work/source/flit_core
jax @ file:///croot/jax_1669936854560/work
jaxlib @ file:///croot/jaxlib_1669901293857/work/dist/jaxlib-0.3.25-cp310-cp310-manylinux2014_x86_64.whl
mkl-fft==1.3.1
mkl-random @ file:///home/builder/ci_310/mkl_random_1641843545607/work
mkl-service==2.4.0
numpy @ file:///croot/numpy_and_numpy_base_1668593735768/work
opt-einsum @ file:///tmp/build/80754af9/opt_einsum_1621500238896/work
scipy==1.9.3
six @ file:///tmp/build/80754af9/six_1644875935023/work
typing_extensions @ file:///croot/typing_extensions_1669924550328/work
